<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>
        <h1>搜索结果</h1>
        <div>
            <ul>
                <li th:each="result:${results}">
                    <div th:if="${result.parsed}">
                        <a th:href="'/novel/novel?url='+${result.url}" th:text="${result.title}"></a>
                    </div>
                    <div th:unless="${result.parsed}">
                        <a th:href="@{${result.url}}" th:text="${result.title}"></a>
                    </div>
                    <div>
                        <label th:text="${result.source}"></label>
                        <a th:href="${result.url}">查看原网址</a>
                    </div>
                    <div th:if="${result.parsed}">
                        推荐源
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
